In [1]:
__author__ = "Sakshi Sharma"
__copyright__ = "Copyright 2019, TTC Bus Delay Data Project"
__credits__ = ["Sakshi"]
__license__ = "GPL"
__version__ = "1.0.0"
__maintainer__ = "TBD"
__email__ = "12sakshi@gmail.com"
__status__ = "Submitted for Grading"

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
from datetime import datetime
startTime = datetime.now()

# List of Excel File Names

In [5]:
#filename = ['bus2014.xlsx','bus2015.xlsx','bus2016.xlsx','bus2017.xlsx','bus2018.xlsx','bus2019.xlsx']
#filenamelist = ['bus 2014.xlsx','bus 2015.xlsx','bus 2016.xlsx','bus 2017.xlsx','bus 2018.xlsx','bus_2019.xlsx']
filenamelist = ['bus 2014.xlsx','bus 2015.xlsx','bus 2016.xlsx','bus 2017.xlsx','bus_2019.xlsx']

# Importing Data to a single Pandas Dataframe

In [6]:
def readxls(j):
    df = pd.DataFrame()
    xls = pd.ExcelFile(j)
    sheetnamelist = xls.sheet_names
    for sheet in sheetnamelist:
        data = pd.read_excel(xls, sheet)
        df = df.append(data, sort=False)
    return df


df = pd.DataFrame()
for file in filenamelist:
    data = readxls(file)
    df = df.append(data, sort=False)
df.set_index('Report Date', inplace = True)

# Reading The information from Dataframe

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 405746 entries, 2014-01-01 to 2019-02-28
Data columns (total 10 columns):
Route         405746 non-null int64
Time          405746 non-null object
Day           405746 non-null object
Location      405081 non-null object
Incident      405746 non-null object
Min Delay     400041 non-null float64
Min Gap       405143 non-null float64
Direction     396968 non-null object
Vehicle       347800 non-null float64
 Min Delay    5503 non-null float64
dtypes: float64(4), int64(1), object(5)
memory usage: 34.1+ MB

### Addressing addition of Min Delay column at the end

In [6]:
df.iloc[:,-1:].dropna(how='all').head()

              Min Delay
Report Date
2018-03-01         13.0
2018-03-01          5.0
2018-03-01         10.0
2018-03-01          3.0
2018-03-01         30.0

In [7]:
df.iloc[:,-1:].dropna(how='all').info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5503 entries, 2018-03-01 to 2018-03-31
Data columns (total 1 columns):
 Min Delay    5503 non-null float64
dtypes: float64(1)
memory usage: 86.0 KB

### Confirmed the source of additional column
- March 2018 Data

In [8]:
df[(df.index >= '2018-03-01') & (df.index <= '2018-03-31')].iloc[:,-1:].dropna(how='all').info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 5503 entries, 2018-03-01 to 2018-03-31
Data columns (total 1 columns):
 Min Delay    5503 non-null float64
dtypes: float64(1)
memory usage: 86.0 KB

### Correcting the Dataframe

In [9]:
df['Min Delay'] = np.where(df['Min Delay'].isnull() == 1, df[' Min Delay'], df['Min Delay'])
df[(df.index >= '2018-03-01') & (df.index <= '2018-03-31')].head()
df.drop(columns=' Min Delay', inplace = True)
df.head()

,Route,Time,Day,Location,Incident,Min Delay,Min Gap,Direction,Vehicle
Report Date,,,,,,,,,
2014-01-01,95,00:23:00,Wednesday,York Mills station,Mechanical,10.0,20.0,E,1734.0
2014-01-01,102,00:55:00,Wednesday,Entire run for route,General Delay,33.0,66.0,b/w,8110.0
2014-01-01,54,01:28:00,Wednesday,lawrence and Warden,Mechanical,10.0,20.0,WB,7478.0
2014-01-01,112,01:30:00,Wednesday,Kipling Station,Emergency Services,18.0,36.0,N,8084.0
2014-01-01,24,01:37:00,Wednesday,VP and Ellesmere,Investigation,10.0,20.0,n,7843.0

## Export to CSV File

In [10]:
df.to_csv('combined.csv', sep=',')
datetime.now() - startTime

datetime.timedelta(seconds=70, microseconds=278066)